@font-face {
  font-family: "Finger Paint";
  src: url(fonts/fontkit/fingerpaint-regular-webfont.woff),
       url(fonts/fontkit/fingerpaint-regular-webfont.woff2);
  font-weight: 400;
}

:root {
  --main-font: "Finger Paint";
  --fallback-fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  font-family: var(--main-font), var(--fallback-fonts);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;

}
img, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

a {
    text-decoration: none;

    &:visited {
        color: white;
    }
}


.main-container {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: [left-column] 1fr [right-column] 4fr;
}

.left-column {
    grid-column: left-column;
    background-color: #914F1E;

    color: white;

}

.right-column {
    grid-column: right-column;
    background-color: #F7DCB9;

}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 3fr 1.5fr;
    gap: 3rem;

    align-items: center;
    justify-content: center;

}

.dashboard-header {
    grid-row: 1;
    display: flex;
    gap: 1em;

    & .dashboard-icon {
      flex: 0 0 19%;
    }
}

.dashboard-text {
    font-size: 2em;
}

.navi-list li,
.navi-settings li {
    display: flex;
    gap: 0.5em;
    font-size: 1.3em;
}

.navi-icon img,
.user-header .user-icon {
  max-width: 80%;
}

.top-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    align-content: center;

    margin: 1em 2em 2em 1em;

}

.header-left {
    display: grid;
    gap: 2em;
    align-content: start;

}
.search-bar {
    display: grid;
    grid-template-columns: 32px 65%;
    gap: 0.5em;
    margin-top: 0.7em;
}

.magnifier-icon {
  width: 1.5em;
  align-self: center;
}

#project-search {
  background: #C1CFA1;
  border-radius: 20px;
  outline: none;
}

.user-header {
    display: flex;
}

.user-name {
    font-weight: bold;
    font-size: 1.3em;
}

.smaller-icon {
  width: 40px;

}

.user-info {
  display: flex;
  gap: 2em;

  justify-content: right;
  align-items: center;

}

.no-bckgr {
  background: none;
  border: none;
}

.bell-icon,
.no-bckgr {
  max-width: 25px;
}

.header-right {
  display: grid;
  gap: 2em;

}

.user-actions {
  display: flex;
  gap: 3em;

  justify-self: right;
}

.user-actions button {
  padding: 2px 20px;
  border-radius: 20px;
  font-weight: bold;
  background-color: #B5C18E;
  transition: 0.4s;

  &:hover {
    background-color: #914F1E;
    color: white;
  }
}

.main-content {
  display: grid;
  grid-template-columns: 75% 1fr;
  gap: 1em;

  background-color: #DEAC80;
  padding: 2em;
}

.projects-section {
  display: grid;
  align-content: start;
  gap: 1em;

}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2em;
}

.project-item {
  background-color: white;
  padding: 20px 30px;
  border-left: 8px solid #914F1E;
  border-radius: 10px;

  display: grid;
  gap: 0.7em;
}

.action-buttons {
  justify-self: right;

  display: flex;
  gap: 0.7em;
}

.news-bar {
  display: grid;
  align-content: start;
  gap: 1em;
}


.announcements,
.trending {
  display: grid;
  align-items: start;
  gap: 1em;
}

.announcements-display,
.trending-display {
  background-color: white;
  border-radius: 10px;
  border: 3px solid #914F1E;
  padding: 10px;
  height: 263px;
  overflow: auto;
}

.announcement-item,
.trending-item {
  padding: 5px;
}

.announcement-title {
  margin-bottom: 0.5em;
}

.announcement-item + .announcement-item {
  border-top: 1px solid #ccc;
}

.trending-item {
  display: flex;
  gap: 1rem;
}

.user-description {
  opacity: 50%;
}
