*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;

}
img, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

a {
    text-decoration: none;

    &:visited {
        color: white;
    }
}


.main-container {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: [left-column] 1fr [right-column] 4fr;
}

.left-column {
    grid-column: left-column;
    background-color: #914F1E;

    color: white;

}

.right-column {
    grid-column: right-column;
    background-color: #F7DCB9;

}

.left-column, .right-column {
    padding: 1.5rem;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 3fr 1.5fr;
    gap: 3rem;

}

.dashboard-header {
    grid-row: 1;

    display: flex;
    gap: 0.5em;
}

.dashboard-text {
    font-size: 2em;
}

.navi-list li,
.navi-settings li {
    display: flex;
    gap: 0.5em;
    font-size: 1.3em;
}

.navi-icon img,
.user-header .user-icon {
  max-width: 80%;
}

.top-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
}

.header-left {
    display: grid;
    gap: 2em;

}
.search-bar {
    display: grid;
    grid-template-columns: 32px 65%;
    gap: 0.5em;
}

.user-header {
    display: flex;

    & .welcome-user {
      align-self: center;
    }
}

.user-name {
    font-weight: bold;
    font-size: 1.3em;
}

.smaller-icon {
  width: 40px;

}

.user-info {
  display: flex;
  justify-content: right;
  gap: 2em;
  margin-right: 2em;
  align-items: start

}

.no-bckgr {
  background: none;
  border: none;
}

.bell-icon,
.no-bckgr {
  max-width: 25px;
}

.header-right {
  display: grid;
  gap: 2em;
}

.user-actions {
  display: flex;
  gap: 3em;
  margin-right: 2em;

  justify-self: right;
}